@import 'responsive';
@import 'root';
@import 'reset';
@import 'login_template';
@import 'util';

html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fffcfc;
    margin: 0;
    padding: 0;
}
.progress {
    height: 20px;
    width: 100%;
}
.progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(
            -45deg,
            transparent 33%,
            rgba(0, 0, 0, 0.1) 33%,
            rgba(0, 0, 0, 0.1) 66%,
            transparent 66%
        ),
        -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
        -webkit-linear-gradient(left, #09c, #f44);
    -webkit-animation: animate-stripes 5s linear infinite;
    animation: animate-stripes 5s linear infinite;

    border-radius: 5px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
@-webkit-keyframes animate-stripes {
    100% {
        background-position: -100px 0px;
    }
}

@keyframes animate-stripes {
    100% {
        background-position: -100px 0px;
    }
}
.content__headline1 {
    color: var(--white);
    margin: 24px 60px;
}
.content__headline4 {
    color: var(--white);
    margin: 30px 24px;
    font-size: 20px;
}
.header-nav {
    position: fixed;
    height: 70px;
    display: flex;
    width: 100%;
    background-color: #ffffff;
    transition: 0.3s all;
    align-items: center;
    z-index: 10;
    top: 0;
    left: 0;
}
.nav__pc {
    display: flex;
    width: 85%;
    justify-content: space-around;
    align-items: center;
}
.navbar-header-scrolled {
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.1);
}

.nav__list {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0;
}
.nav__item {
    margin: 0 32px;
}

.nav__user:hover > .dropdown__user {
    display: block;
}
.nav__user:hover {
    border-bottom: 3px solid #ff3e81;
}
// // drop dropdown_menu
.dropdown__user {
    width: 160px;
    margin-top: 24px;
    background-color: #f1f1f1;
    color: var(--gray-dark);
    position: absolute;
    display: none;
    transition: all 0.5s ease-in-out;
    border-radius: 3px;
    left: 0;

    -webkit-animation: dropdown-animation 0.3s;
    animation: dropdown-animation 0.3s;
}
.dropdown__user::after {
    content: '';
    display: block;
    position: absolute;
    width: 160px;
    height: 20px;
    top: -20px;
    left: 0;
}
.dropdown__menu {
    list-style: none;
    font-size: 16px;
    width: 100%;
    color: var(--black);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
}
@keyframes dropdown-animation {
    0% {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
    }
    75% {
        -webkit-transform: scaleY(1.1);
        -ms-transform: scaleY(1.1);
        transform: scaleY(1.1);
    }
    100% {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }
    75% {
        -webkit-transform: scaleY(1.1);
        -ms-transform: scaleY(1.1);
        transform: scaleY(1.1);
    }
    0% {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
    }
}
.dropdown__item {
    margin: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.dropdown__item :hover {
    color: #3a88ec;
}
.button {
    background: none;
    color: var(--black);
}
.drop-icon {
    width: 15px;
    height: 15px;
    margin: 5px;
    color: var(--black);
}
.nav__item-btn {
    position: relative;
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    padding: 12px 12px;
    text-align: center;
    background-color: #e8505b;
    border-radius: 5px;
    margin: 0 5px;
    transition: all linear 0.2s;
}
.nav__user-name {
    color: var(--gray-dark);
    font-weight: 400;
    font-size: 16px;
    padding: 12px 12px;
    text-align: center;
}
.nav__item-btn-seperate {
    background-color: transparent;
    color: var(--gray-dark);
}
.nav__item-btn:hover {
    background-color: #4d96ff;
    color: var(--white);
}
.nav__user-name-seperate::after {
    content: '';
    position: absolute;
    display: block;
    height: 18px;
    border-left: 1px solid rgb(219, 215, 215);
    top: 35%;
    left: -15px;
    margin: 0 15px;
}
.nav__link {
    font-size: 18px;
    color: var(--gray-dark);
    font-weight: 500;
    padding: 20px 0;
    position: relative;
}
.nav__link:hover {
    border-bottom: 2px solid #ff3e81;
}
/* mobile nav btn */
.nav__bar-btn {
    width: 28px;
    height: 28px;
    color: black;
    display: none;
    position: relative;
}
.nav__overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    animation: fadein linear 0.3s;
}
.nav__mobile {
    position: fixed;
    width: 320px;
    max-width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transform: translateX(100%);
    opacity: 0;
    transition: all linear 0.3s;
}
.nav__mobile-list {
    margin-top: 24px;
    list-style: none;
}
.nav__mobile-link {
    display: block;
    padding: 8px 8px;
    margin: 0 20px;
    font-size: 20px;
    text-decoration: none;
    color: #333;
}
.nav__mobie-close {
    width: 50px;
    height: 50px;
    font-size: 14px;
    color: #666;
    position: absolute;
    font-weight: 100;
    top: 0.5rem;
    right: 1.5rem;
}
.nav__input:checked ~ .nav__overlay {
    display: block;
}
.nav__input:checked ~ .nav__mobile {
    transform: translateX(0);
    opacity: 1;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.logo {
    width: 100px;
    height: 30px;
    margin-left: 32px;
    background: url(../images/logo.png) no-repeat center;
    background-size: contain;
}
// home page
// section header
.wrap .header {
    padding: 7.5rem 0 2rem;
    position: relative;
    align-items: center;
}

.header .header-img-section img {
    width: 100%;
}
.header .header-title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header .header-title-section .header-subtitle {
    font-size: 1.7rem;
    font-weight: 400;
    color: #212529;
}
.header-title-text {
    font-size: 1.2rem;
}

.header .header-title-section .header-title {
    font-size: 3.8rem;
    color: #303669;
    font-weight: 500;
}
.nav-link {
    font-weight: 600;
    color: #505050;
    line-height: auto;
    font-size: 20px;
    align-self: center;
}
.learn-more-btn-section {
    display: flex;
    width: 100%;
    align-items: center;
    left: 0;
}

.learn-more-btn {
    max-width: 260px;
    background-color: #3a88ec;
    color: #ffffff !important;
    border-radius: 100px;
    font-weight: 500px;
    padding: 12px 40px !important;
    text-align: center;
    margin: 15px 20px;
    transition: all 0.3s;
}

.learn-more-btn:hover {
    background-color: #ff3e81;
    transform: translate3d(0, -2px, 0);
}

.head {
    font-weight: 400;
    color: var(--secondary);
    font-size: 1.5rem;
    line-height: auto;
}

.btn-signin {
    margin: 15px 0;
    padding: 10px;
    font-size: 1.4rem;
    background-color: #3a88ec;
    border-radius: 50px;
    color: var(--white);
    font-weight: 400;
    transition: all linear 0.2s;
}
.btn-signin:hover {
    background-color: #1561c4;
    color: var(--white);
}
//form
.form {
    padding: 32px 48px;
    box-shadow: 2px 2px 15px var(--gray);
    border: 1px solid #e1e1e1;
    border-radius: 3px;
}
.showpass {
    position: absolute;
    top: 8px;
    right: 0;
    color: #000000;
}
.form-control {
    padding: 16px 45px 16px 16px;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
}
.form-control:focus {
    outline: none !important;
}
// content
.main-content {
    margin-top: 70px;
}
.head-course {
    width: 100%;
    display: flex;
    background: url('../images/banner.jpg');
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding: 30px;
    margin-bottom: 30px;
    color: var(--white);
}
.head-course h2 {
    margin: 0;
}
.input-group {
    max-width: 380px;
}
.block-search {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
}
#form-search {
    position: relative;
    display: flex;
    width: 100%;
    background: var(--white);
    border-radius: 3px;
}
.input-group-icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-dark);
    height: 100%;
}
.input-group-icon:hover {
    background-color: rgba(67, 94, 247, 0.966);
    color: var(--white);
}
.list__courses-title {
    margin: 0 0 25px;
    font-size: 2.6rem;
    color: var(--title-courses);
}
.no-data {
    padding: 15px;
    background-color: #fff;
    text-align: center;
    height: 100%;
}
.no-data img {
    width: 350px;
    max-width: 100%;
}
.no-data h2 {
    font-size: 18px;
    color: #000;
    margin-top: 12px;
    margin-bottom: 0;
    font-weight: 700;
}
.card-title {
    margin-top: 0;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
}
.card-body {
    padding: 15px;
    min-height: 220px;
    position: relative;
}

.card-text {
    margin-bottom: 20px;
    color: #42526e;
    line-height: 1.5;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 44px;
    max-height: 3em;
}
.content-footer {
    width: calc(100% - 30px);
    padding: 7px 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-top: 1px solid #dcdff1;
    position: absolute;
    bottom: 0;
    color: #42526e;
    font-weight: 600;
}
.accordion-button {
    cursor: pointer;
}
// index__home
.index__home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.wrap-reason {
    width: 100%;
    text-align: center;
}

.wrap-reason p {
    margin: 0 1.5rem;
}
.wrap-reason h4 {
    font-size: 18px;
}
.wrap-reason img {
    margin-bottom: 40px;
    box-shadow: 2px 2px 10px rgb(202, 200, 200);
    border-radius: 10px;
    transition: all linear 0.2s;
}
.wrap-reason:hover img {
    transform: scale(1.02);
}

// home course
.home__courses {
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.menu-sidebar {
    background-color: #fff;
    width: 100%;
    padding-bottom: 16px;
}
.sidebar-nav ul .sidebar-item.selected > .sidebar-links {
    color: #fff !important;
}
.sidebar-nav ul .sidebar-item.selected > .sidebar-links i {
    color: #fff !important;
}
.sidebar-nav ul .sidebar-item.selected > .sidebar-links:hover {
    color: #fff !important;
}
.sidebar-links {
    color: rgb(22, 21, 21) !important;
    opacity: 1 !important;
}
.sidebar-links:hover {
    color: #f13d0b !important;
}
.sidebar-links i {
    color: #333 !important;
}
.sidebar-links.active {
    color: #f13d0b !important;
}
.has-arrows::after {
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #333 !important;
    margin-left: 10px;
    transform: rotate(135deg) translate(0, -50%);
    transform-origin: top;
    top: 26px;
    right: 15px;
    transition: all 0.3s ease-out;
}

//home-filter
.home-filter {
    position: relative;
    display: flex;
    padding: 12px 20px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

// Course detail
.course__details {
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}

.card-course-img {
    overflow: hidden;
    position: relative;
}
.card-course-img img {
    transition: all 0.3s ease-in-out;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    background-color: #ccc;
}
.card-course-img:hover > img {
    transform: scale(1.5);
}
.btn-custom {
    min-width: 150px;
    padding: 0 16px;
    line-height: 40px;
    color: var(--white);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1.5px;
    border-radius: 10px;
    background: var(--primary-color);
    margin: 20px 0 8px;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}
button {
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
}
// contact
.contact {
    width: 100%;
    height: 100%;
    margin-top: 70px;
}
// lessons

.lessons__heading {
    display: flex;
    width: 100%;
    background: #29313b;
    min-height: 50px;
    padding: 18px 20px;
    justify-content: flex-start;
    align-items: center;
    color: var(--white);
}
.lessons__heading-title {
    font-size: 1.2rem;
    color: var(--white);
    margin: 0 20px;
    position: relative;
}
.lessons__heading-title::after {
    content: '';
    border: 1px solid #e1e1e1;
    position: absolute;
    display: block;
    left: -30px;
    top: 0;
    height: 30px;
    margin: 0 1rem;
}
.lessons__body {
    background-color: var(--dark);
    padding: 0 0.8rem;
}
.table__content {
    background-color: #eff1f5;
    position: fixed;
    right: 0;
}
.list__heading {
    padding: 12px 0;
}

.list__heading h1 {
    padding: 12px 0;
    font-weight: 500;
    font-size: 25px;
}
.list__heading p {
    padding: 0 12px;
    font-size: 14px;
}
.list__body-details {
    width: 100%;
    background: #d1ddf7;
    padding: 12px;
    align-items: center;
    display: flex;
}
.check {
    margin-right: 7px;
    padding: 0;
}

@media (max-width: 1023px) {
    .nav__bar-btn {
        display: block;
        margin-right: 32px;
        margin-left: auto;
    }
}
// drop menu
