<div class="row mt-4">
  <div class="col-md-5 m-auto">
    <div class="form">
      <h1 class="text-center mb-4">LOGIN</h1>
      <%- include('../partials/messages')%>
        <h4 class="login_heading">Login with your social network</h4>
        <div class="sign-options">
          <a href="" class="sign__btn sign__btn-twitter"><i class="fab fa-twitter"></i><span>Twitter</span></a>
          <a href="/users/auth/facebook" class="sign__btn sign__btn-facebook"><i
              class="fab fa-facebook"></i><span>Facebook</span></a>
          <a href="/users/auth/google" class="sign__btn sign__btn-google"><i class="fab fa-google"></i><span>Google</a>
        </div>
        <p for="" class="label-or">Or</p>
        <form action="/users/login" method="POST">
          <div class="form-group">
            <label class="text" for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
          </div>
          <div class="form-group">
            <label class="text" for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
          </div>
          <a href="" class="sign__forgot">Forgot Password</a>
          <button type="submit" class="btn btn-signin btn-block">Login</button>
        </form>
        <p class="lead mt-4 ">
          Don't have account? <a class="text-decoration-none" href="/users/register">Register</a>
        </p>
    </div>
  </div>
</div>