<div class="left-sidebar" data-sidebarbg="skin5">

    <div class="scroll-sidebar">

        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/dashboard"
                        aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                            class="hide-menu">Dashboard</span></a></li>

                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark"
                        href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span
                            class="hide-menu">Courses </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/manage/stored/courses" class="sidebar-link"><i
                                    class="mdi mdi-note-outline"></i><span class="hide-menu"> Manage Courses
                                </span></a></li>
                        <li class="sidebar-item"><a href="/courses/create" class="sidebar-link"><i
                                    class="mdi mdi-note-plus"></i><span class="hide-menu"> Create Course
                                </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark"
                        href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span
                            class="hide-menu">Category</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/manage/stored/category" class="sidebar-link"><i
                                    class="mdi mdi-note-outline"></i><span class="hide-menu"> Manage Category
                                </span></a></li>
                        <li class="sidebar-item"><a href="/categories/create" class="sidebar-link"><i
                                    class="mdi mdi-note-plus"></i><span class="hide-menu"> Create Category
                                </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark"
                        href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span
                            class="hide-menu">Lessons </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/manage/stored/lessons" class="sidebar-link"><i
                                    class="mdi mdi-note-outline"></i><span class="hide-menu"> Manage Lessons
                                </span></a></li>
                        <li class="sidebar-item"><a href="/lessons/create" class="sidebar-link"><i
                                    class="mdi mdi-note-plus"></i><span class="hide-menu"> Create Lesson
                                </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark"
                        href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span
                            class="hide-menu">Quiz </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/manage/stored/quiz" class="sidebar-link"><i
                                    class="mdi mdi-note-outline"></i><span class="hide-menu"> Manage Quiz
                                </span></a></li>
                        <li class="sidebar-item"><a href="/lessons/create/quiz" class="sidebar-link"><i
                                    class="mdi mdi-note-plus"></i><span class="hide-menu"> Create Quiz
                                </span></a></li>
                    </ul>
                </li>

                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark"
                        href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-account-key"></i><span
                            class="hide-menu">User</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/manage/stored/users" class="sidebar-link"><i
                                    class="mdi mdi-face"></i><span class="hide-menu"> Manage User
                                </span></a>
                        </li>

                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>