<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 mb-3 d-flex justify-content-center">
                <div class="footer__logo">
                    <a href="/" class="footer__img mb-4"></a>
                    <p>IFE is a free place to learn programming</p>
                    <p>Courses are carefully invested from content to image and sound quality</p>
                    <p>Students can learn from scratch until they become professional programmers here!</p>
                </div>
            </div>
            <div class="col col-lg-2 col-sm-6 mb-3 d-flex justify-content-center">
                <div class="link">
                    <h4 class="mb-4">Links</h4>
                    <p><a href="/courses">Courses</a></p>
                    <p><a href="/">Discuss</a></p>
                    <p><a href="/">Contact</a></p>
                </div>
            </div>
            <div class="col col-lg-2 col-md-6 col-sm-6 mb-3 d-flex justify-content-center">
                <div class="infor">
                    <h4 class="mb-4">Information</h4>
                    <p><a href="/about">About Us</a></p>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 mb-3 d-flex justify-content-center ">
                <div class="infor">
                    <h4 class="mb-4">Help</h4>
                    <p><a href="/help">Help</a></p>
                    <p><a href="/discuss">Discussion</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>