<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col col-md-6 col-sm-12">
                <div class="footer__logo">
                    <a href="/" class="footer__img mb-4"></a>
                    <p>IFE là nơi học lập trình miễn phí</p>
                    <p>Các khóa học được đầu tư kỹ lưỡng từ nội dung đến chất lượng hình ảnh và âm thanh</p>
                    <p>Học viên có thể học từ con số 0 tới khi trở thành lập trình viên chuyên nghiệp tại đây!</p>
                </div>
            </div>
            <div class="col col-md-2 col-sm-12">
                <div class="link">
                    <h4 class="mb-4">Links</h4>
                    <p><a href="/courses">Courses</a></p>
                    <p><a href="/courses">Discuss</a></p>
                    <p><a href="/courses">Contact</a></p>
                </div>
            </div>
            <div class="col col-md-2 col-sm-12">
                <div class="infor">
                    <h4 class="mb-4">Information</h4>
                    <p><a href="/about">About Us</a></p>
                </div>
            </div>
            <div class="col col-md-2 col-sm-12">
                <div class="infor">
                    <h4 class="mb-4">Help</h4>
                    <p><a href="/help">Help</a></p>

                    <p><a href="/discuss">Discussion</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>