<div id="navbar-header" class="header-nav">
    <a class="logo"></a>
    <nav class="nav__pc">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="/dashboard" class="nav__link">HOME</a>
            </li>
            <li class="nav__item">
                <a href="/courses" class="nav__link">COURSES</a>
            </li>
            <li class="nav__item">
                <a href="/contact" class="nav__link">CONTACT</a>
            </li>
            <li class="nav__item">
                <a href="/discuss" class="nav__link">DISSCUSS</a>
            </li>
        </ul>
        <ul class="nav__list">
            <% if(!user) { %>
                <li>
                    <a href="/users/login" class="  nav__item-btn nav__item-btn-seperate text-decoration-none">Login</a>
                </li>
                <li>
                    <a href="/users/register" class=" nav__item-btn text-decoration-none">Register</a>
                </li>

                <% } else { %>
                    <li>
                        <% if(!user.image ) { %>
                            <div id="no-img" class="no-avatar"></div>
                            <% } else { %>
                                <div class="user-avatar">
                                    <img src="../images/<%=user.image%>" alt="">
                                </div>
                                <% } %>
                    </li>
                    <li>
                        <a class=" nav__user-name">
                            <%= user.name %>
                                <%if(user.coin) { %>
                                    <p class="m-0 fs-6">
                                        <%=user.coin%> coin
                                    </p>
                                    <%}%>

                        </a>

                        <div class="dropdown__user">
                            <ul class="dropdown__menu">
                                <li class="dropdown__item"><svg aria-hidden="true" focusable="false" data-prefix="fas"
                                        data-icon="adjust" class="svg-inline--fa fa-adjust fa-w-16 drop-icon" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="currentColor"
                                            d="M8 256c0 136.966 111.033 248 248 248s248-111.034 248-248S392.966 8 256 8 8 119.033 8 256zm248 184V72c101.705 0 184 82.311 184 184 0 101.705-82.311 184-184 184z">
                                        </path>
                                    </svg>
                                    <span onclick="addDarkmodeWidget()">Dark mode</span>
                                </li>
                                <li class="dropdown__item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        class="drop-icon">
                                        <path fill="currentColor"
                                            d="M13.25 7c0 .69-.56 1.25-1.25 1.25s-1.25-.56-1.25-1.25.56-1.25 1.25-1.25 1.25.56 1.25 1.25zm10.75 5c0 6.627-5.373 12-12 12s-12-5.373-12-12 5.373-12 12-12 12 5.373 12 12zm-2 0c0-5.514-4.486-10-10-10s-10 4.486-10 10 4.486 10 10 10 10-4.486 10-10zm-13-2v2h2v6h2v-8h-4z" />
                                    </svg>
                                    <span><a href="/users/information">My Information</a></span>
                                </li>
                                <li class="dropdown__item">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sign-out-alt"
                                        class="svg-inline--fa fa-sign-out-alt fa-w-16 drop-icon" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="currentColor"
                                            d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z">
                                        </path>
                                    </svg>
                                    <span data-bs-toggle="modal" data-bs-target="#logout">Logout</span>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <li class="notifi">
                        <i class="far fa-bell"></i>
                    </li>

                    <% } %>
        </ul>
    </nav>
    <label for="nav-mobile-input" class="nav__bar-btn">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
            class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path fill="currentColor"
                d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
            </path>
        </svg>
    </label>
    <input type="checkbox" hidden name="" class="nav__input" id="nav-mobile-input" />
    <label for="nav-mobile-input" class="nav__overlay"></label>
    <nav class="nav__mobile">
        <label for="nav-mobile-input">
            <img class="nav__mobie-close" src="../../../images/close.png" alt="" />
        </label>
        <ul class="nav__mobile-list">
            <%if(user) { %>
                <li>
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="home"
                        class="svg-inline--fa fa-home fa-w-18 mobile-icon" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512">
                        <path fill="currentColor"
                            d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z">
                        </path>
                    </svg>
                    <a href="/dashboard" class="nav__mobile-link text-decoration-none">Home</a>
                </li>
                <li>
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="book"
                        class="svg-inline--fa fa-book fa-w-14 mobile-icon2" role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="currentColor"
                            d="M448 360V24c0-13.3-10.7-24-24-24H96C43 0 0 43 0 96v320c0 53 43 96 96 96h328c13.3 0 24-10.7 24-24v-16c0-7.5-3.5-14.3-8.9-18.7-4.2-15.4-4.2-59.3 0-74.7 5.4-4.3 8.9-11.1 8.9-18.6zM128 134c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm0 64c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm253.4 250H96c-17.7 0-32-14.3-32-32 0-17.6 14.4-32 32-32h285.4c-1.9 17.1-1.9 46.9 0 64z">
                        </path>
                    </svg>
                    <a href="/courses" class="nav__mobile-link text-decoration-none">Courses</a>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                        class="mobile-icon3">
                        <path fill="currentColor"
                            d="M13.25 7c0 .69-.56 1.25-1.25 1.25s-1.25-.56-1.25-1.25.56-1.25 1.25-1.25 1.25.56 1.25 1.25zm10.75 5c0 6.627-5.373 12-12 12s-12-5.373-12-12 5.373-12 12-12 12 5.373 12 12zm-2 0c0-5.514-4.486-10-10-10s-10 4.486-10 10 4.486 10 10 10 10-4.486 10-10zm-13-2v2h2v6h2v-8h-4z" />
                    </svg>
                    <a href="/users/information" class="nav__mobile-link text-decoration-none">My Information</a>
                </li>
                <li>
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sign-out-alt"
                        class="svg-inline--fa fa-sign-out-alt fa-w-16 mobile-icon" role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor"
                            d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z">
                        </path>
                    </svg>
                    <a href="" data-bs-toggle="modal" class="nav__mobile-link text-decoration-none"
                        data-bs-target="#logout">Logout</a>
                </li>

                <% } else { %>

                    <li>
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sign-in-alt"
                            class="svg-inline--fa fa-sign-in-alt fa-w-16 mobile-icon" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill="currentColor"
                                d="M416 448h-84c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h84c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32h-84c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h84c53 0 96 43 96 96v192c0 53-43 96-96 96zm-47-201L201 79c-15-15-41-4.5-41 17v96H24c-13.3 0-24 10.7-24 24v96c0 13.3 10.7 24 24 24h136v96c0 21.5 26 32 41 17l168-168c9.3-9.4 9.3-24.6 0-34z">
                            </path>
                        </svg>
                        <a href="/users/login" class="nav__mobile-link text-decoration-none">Login</a>
                    </li>
                    <li>
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-plus"
                            class="svg-inline--fa fa-user-plus fa-w-20 mobile-icon" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                            <path fill="currentColor"
                                d="M624 208h-64v-64c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v64h-64c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h64v64c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-64h64c8.8 0 16-7.2 16-16v-32c0-8.8-7.2-16-16-16zm-400 48c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z">
                            </path>
                        </svg>
                        <a href="/users/register" class="nav__mobile-link text-decoration-none">Sign up</a>
                    </li>
                    <li>
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="home"
                            class="svg-inline--fa fa-home fa-w-18 mobile-icon" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path fill="currentColor"
                                d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z">
                            </path>
                        </svg>
                        <a class="nav__mobile-link text-decoration-none">Home</a>
                    </li>
                    <li>
                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="book"
                            class="svg-inline--fa fa-book fa-w-14 mobile-icon2" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor"
                                d="M448 360V24c0-13.3-10.7-24-24-24H96C43 0 0 43 0 96v320c0 53 43 96 96 96h328c13.3 0 24-10.7 24-24v-16c0-7.5-3.5-14.3-8.9-18.7-4.2-15.4-4.2-59.3 0-74.7 5.4-4.3 8.9-11.1 8.9-18.6zM128 134c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm0 64c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm253.4 250H96c-17.7 0-32-14.3-32-32 0-17.6 14.4-32 32-32h285.4c-1.9 17.1-1.9 46.9 0 64z">
                            </path>
                        </svg>
                        <a href="/courses" class="nav__mobile-link text-decoration-none">Courses</a>
                    </li>


                    <% } %>
        </ul>
    </nav>
</div>
<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    You want to sign out of your account?
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <a href="/users/logout" type="button" class="btn btn-success">Logout</a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
    function addDarkmodeWidget() {
        new Darkmode().showWidget();
    }

</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        $(window).scroll(function () {
            if (this.scrollY > 20)
                $("#navbar-header").addClass("navbar-header-scrolled");
            else $("#navbar-header").removeClass("navbar-header-scrolled");
        });
    });
</script>