<div id="navbar-header" class="header-nav">
    <a href="/" class="logo"></a>
    <nav class="nav__pc">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="/" class="nav__link">HOME</a>
            </li>
            <li class="nav__item">
                <a href="/courses" class="nav__link">COURSES</a>
            </li>
            <li class="nav__item">
                <a href="/contact" class="nav__link">CONTACT</a>
            </li>
            <li class="nav__item">
                <a href="/discuss" class="nav__link">DISSCUSS</a>
            </li>
        </ul>
        <ul class="nav__list">
            <% if(!user) { %>
                <li>
                    <a href="/users/login" class="  nav__item-btn nav__item-btn-seperate text-decoration-none">Login</a>
                </li>
                <li>
                    <a href="/users/register" class=" nav__item-btn text-decoration-none">Register</a>
                </li>

                <% } else { %>
                    <li>
                        <a class=" nav__user-name">
                            <%= user.name %>
                        </a>
                        <div class="dropdown__user">
                            <ul class="dropdown__menu">
                                <li class="dropdown__item"><svg aria-hidden="true" focusable="false" data-prefix="fas"
                                        data-icon="adjust" class="svg-inline--fa fa-adjust fa-w-16 drop-icon" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="currentColor"
                                            d="M8 256c0 136.966 111.033 248 248 248s248-111.034 248-248S392.966 8 256 8 8 119.033 8 256zm248 184V72c101.705 0 184 82.311 184 184 0 101.705-82.311 184-184 184z">
                                        </path>
                                    </svg>
                                    <span onclick="addDarkmodeWidget()">Dark mode</span>
                                </li>
                                <li class="dropdown__item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        class="drop-icon">
                                        <path fill="currentColor"
                                            d="M13.25 7c0 .69-.56 1.25-1.25 1.25s-1.25-.56-1.25-1.25.56-1.25 1.25-1.25 1.25.56 1.25 1.25zm10.75 5c0 6.627-5.373 12-12 12s-12-5.373-12-12 5.373-12 12-12 12 5.373 12 12zm-2 0c0-5.514-4.486-10-10-10s-10 4.486-10 10 4.486 10 10 10 10-4.486 10-10zm-13-2v2h2v6h2v-8h-4z" />
                                    </svg>
                                    <span><a href="/users/information">My Information</a></span>
                                </li>
                                <li class="dropdown__item">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sign-out-alt"
                                        class="svg-inline--fa fa-sign-out-alt fa-w-16 drop-icon" role="img"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="currentColor"
                                            d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z">
                                        </path>
                                    </svg>
                                    <span data-bs-toggle="modal" data-bs-target="#logout">Logout</span>
                                </li>

                            </ul>
                        </div>
                    </li>

                    <% } %>
        </ul>
    </nav>
    <label for="nav-mobile-input" class="nav__bar-btn">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
            class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
            <path fill="currentColor"
                d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z">
            </path>
        </svg>
    </label>
    <input type="checkbox" hidden name="" class="nav__input" id="nav-mobile-input" />
    <label for="nav-mobile-input" class="nav__overlay"></label>
    <nav class="nav__mobile">
        <label for="nav-mobile-input">
            <img class="nav__mobie-close" src="../../../images/close.png" alt="" />
        </label>
        <ul class="nav__mobile-list">
            <li>
                <a href="/" class="nav__mobile-link text-decoration-none">TRANG CHỦ</a>
            </li>
            <li>
                <a href="/courses" class="nav__mobile-link text-decoration-none">KHÓA HỌC</a>
            </li>
            <li>
                <a href="" class="nav__mobile-link text-decoration-none">LIÊN HỆ</a>
            </li>
        </ul>
    </nav>
</div>
<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                    You want to sign out of your account?
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <a href="/users/logout" type="button" class="btn btn-success">Logout</a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script>
    function addDarkmodeWidget() {
        new Darkmode().showWidget();
    }

</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        $(window).scroll(function () {
            if (this.scrollY > 20)
                $("#navbar-header").addClass("navbar-header-scrolled");
            else $("#navbar-header").removeClass("navbar-header-scrolled");
        });
    });
</script>