<%- include('./partials/header')%>

    <div class="row">
        <div class="wrap">
            <div class="header">
                <div class="container-fluid d-lg-flex">
                    <div
                        class="col-lg-6 header-img-section d-lg-flex justify-content-lg-center align-items-lg-center mb-5">
                        <img src="../images/header.png" alt="header-img-section">
                    </div>
                    <div
                        class="col-lg-6 header-title-section text-center text-lg-left mx-lg-auto justify-content-lg-center align-items-lg-start">
                        <h1 class="header-subtitle">Học lập trình từ con số 0</h1>
                        <h1 class="header-title pb-3">CỘNG ĐỒNG HỌC LẬP TRÌNH MIỄN PHÍ</h1>
                        <p class="header-title-text pb-3">Học lập trình qua thực hành thực tế với các khóa học chất
                            lượng</p>
                        <div class="learn-more-btn-section">
                            <a class="nav-link learn-more-btn" href="/courses">KHÓA HỌC</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <hr>
                </div>
            </div>
        </div>
        <div class="container mt-4 pt-5">
            <div class="row">
                <div class="container">
                    <div class="row justify-content-center pt-3">
                        <div class="col-md-8">
                            <h2 class="text-center">Tại sao bạn nên học tại IFE?</h2>
                            <p class="head">IFE - <b>Information technology for everyone</b> đang xây dựng một cộng đồng
                                học lập trình miễn phí lớn nhất Việt Nam, nơi mọi người có thể tìm thấy các khóa học bổ
                                ích và thực tế, giúp đỡ nhau trong quá trình học cũng như đi làm!</p>
                        </div>
                    </div>
                </div>
                <div class="index__home">
                    <div class="col col-md-4 mb-5 wrap-reason">

                        <img src="../images/hoc-lap-trinh.png" alt="">
                        <h4>Trên 5.000 học viên</h4>
                        <p class="text-center ">Số lượng học viên theo học lớn, dễ dàng hỗ trợ nhau khi gặp khó khăn
                            trong quá trình học tại IFE.</p>

                    </div>
                    <div class="col  col-md-4 mb-5 wrap-reason">

                        <img src="../images/luyen-lap-trinh.png" alt="">
                        <h4>Đa dạng khóa học dành cho bạn</h4>
                        <p class="text-center">Nhiều khóa học dành cho bạn, các khóa học được sắp xếp theo lộ trình phù
                            hợp giúp bạn trở thành developer từ con số 0.</p>

                    </div>
                    <div class="col col-md-4 mb-5 wrap-reason">

                        <img src="../images/chia-se-lap-trinh.png" alt="">
                        <h4>Học bất cứ lúc nào, bất cứ nơi đâu</h4>
                        <p class="text-center ">Bạn có thể học bất cứ nơi đâu, bất cứ lúc nào, chỉ cần một chiếc điện
                            thoại hoặc laptop có kết nối Internet.</p>

                    </div>
                </div>

            </div>
        </div>
    </div>