<%- include('./partials/header')%>
	<div class="row">
		<div class="wrap">
			<div class="header">
				<div class="container-fluid">
					<div class="row">
						<div
							class="col-lg-6 header-img-section d-lg-flex justify-content-lg-center align-items-lg-center mb-5">
							<img src="../images/header.png" alt="header-img-section" />
						</div>
						<div
							class="col-lg-6 header-title-section text-center text-lg-left mx-lg-auto justify-content-lg-center align-items-lg-start">
							<h1 class="header-subtitle">Learn to code from ZERO to HERO</h1>
							<h1 class="header-title pb-3">FREE PROGRAMMING COMMUNITY</h1>
							<p class="header-title-text pb-3">
								Learn to code through hands-on learning with quality courses
								amount!
							</p>
							<div class="learn-more-btn-section">
								<a class="nav-link learn-more-btn" href="/courses">COURSES</a>

								<a class="nav-link learn-more-btn" href="/users/register">JOIN NOW</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<hr />
				</div>
			</div>
		</div>
		<div class="container mt-4 pt-5">
			<div class="row">
				<div class="container">
					<div class="row justify-content-center pt-3">
						<div class="col-md-8">
							<h2 class="text-center">Why should you study at IFE?</h2>
							<p class="head">
								IFE - <b>Information technology for everyone</b> is building the
								largest free programming learning community in Vietnam, where
								people can find practical and useful courses that help each other
								in their studies and work!
							</p>
						</div>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col col-lg-4 col-md-12 col-sm-12 mb-5 wrap-reason ">
						<img src="../images/hoc-lap-trinh.png" alt="" />
						<h4>Over 5,000 student</h4>
						<p class="text-center">
							The number of students is large, easily supporting each other when
							facing difficulties during study at IFE.
						</p>
					</div>
					<div class="col col-lg-4 col-md-12 col-sm-12 mb-5 wrap-reason">
						<img src="../images/luyen-lap-trinh.png" alt="" />
						<h4>A variety of courses for you</h4>
						<p class="text-center">
							Many courses for you, courses arranged according to suitable routes
							helps you become a developer from scratch.
						</p>
					</div>
					<div class="col col-lg-4 col-md-12 col-sm-12 mb-5 wrap-reason">
						<img src="../images/chia-se-lap-trinh.png" alt="" />
						<h4>Study anytime, anywhere</h4>
						<p class="text-center">
							You can study anywhere, anytime, with just an electric phone
							Internet-connected phone or laptop.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="row mt-5">
    <div class="col col-lg-6 m-auto">
      <div class="card card-body text-center">
        <h1 class="mb-4">Chào mừng bạn đến với IFE Education</h1>
        <h1><i class="fas fa-laptop-code fa-3x"></i></h1>
        <p>Bạn đã có tài khoản?</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2">Đăng ký</a>
        <a href="/users/login" class="btn btn-secondary btn-block">Đăng nhập</a>
        <h2>Hoặc đăng nhập bằng</h2>
        <a href="/users/auth/facebook" class="btn btn-primary btn-block mb-2">Đăng Nhập bằng Facebook</a>
        <a href="/users/login" class="btn btn-secondary btn-block">Đăng nhập bằng Google</a>
      </div>
    </div>
  </div> -->