<%- include('./partials/header')%>
	<div class="wrap p-0">
		<div class="header">
			<div class="container-fluid">
				<div class="row">
					<div
						class="col col-lg-6 col-md-12 col-sm-12 header-img-section d-lg-flex justify-content-lg-center align-items-lg-center mb-5">
						<img src="/images/header.png" alt="header-img-section" />
					</div>
					<div
						class="col col-lg-6 col-md-12 col-sm-12 header-title-section text-center text-lg-left mx-lg-auto justify-content-lg-center align-items-lg-start">
						<h1 class="header-subtitle">Learn to code from ZERO to HERO</h1>
						<h1 class="header-title pb-3">FREE PROGRAMMING COMMUNITY</h1>
						<p class="header-title-text pb-3">
							Learn to code through hands-on learning with quality courses
							amount!
						</p>
						<div class="learn-more-btn-section">
							<a class="nav-link learn-more-btn" href="/courses">COURSES</a>

							<a class="nav-link learn-more-btn" href="/users/register">JOIN NOW</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<hr />
			</div>
		</div>
	</div>
	<div class="container-fluid mt-4 pt-5">
		<div class="row">
			<div class="container">
				<div class="row justify-content-center pt-3">
					<div class="col-md-8">
						<h2 class="text-center">Why should you study at IFE?</h2>
						<p class="head">
							IFE - <b>Information technology for everyone</b> is building the
							largest free programming learning community in Vietnam, where
							people can find practical and useful courses that help each other
							in their studies and work!
						</p>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col col-lg-4 col-md-12 col-sm-12 mb-5 wrap-reason ">
					<img src="../images/hoc-lap-trinh.png" alt="" />
					<h4>Over 5,000 student</h4>
					<p class="text-center">
						The number of students is large, easily supporting each other when
						facing difficulties during study at IFE.
					</p>
				</div>
				<div class="col col-lg-4 col-md-12 col-sm-12 mb-5 wrap-reason">
					<img src="../images/luyen-lap-trinh.png" alt="" />
					<h4>A variety of courses for you</h4>
					<p class="text-center">
						Many courses for you, courses arranged according to suitable routes
						helps you become a developer from scratch.
					</p>
				</div>
				<div class="col col-lg-4 col-md-12 col-sm-12 mb-5 wrap-reason">
					<img src="../images/chia-se-lap-trinh.png" alt="" />
					<h4>Study anytime, anywhere</h4>
					<p class="text-center">
						You can study anywhere, anytime, with just an electric phone
						Internet-connected phone or laptop.
					</p>
				</div>
			</div>
			<div class="container-fluid content-2 py-5">
				<div class="row justify-content-center pt-3">
					<div class="col-md-8 pb-5">
						<h2 class="text-center"><b>What will you learn from IFE Education?</b></h2>
						<p class="head text-center">
							Coming to IFE, you will learn the in-depth knowledge, from basic to advanced, from
							videos that are arranged according to the right route for the beginner.
						</p>
					</div>
					<div class="row justify-content-between">
						<div class="col col-md-6 col-lg-6 ">
							<ul class="process">
								<li class="process__item">
									<div class="process__number">
										<span>1</span>
									</div>
									<div class="process__body">
										<h4>Learn Basic Programming</h4>
										<p>You will be familiar with programming languages such as JavaScript, HTML,
											and CSS to be able to build a website as well as languages such as Java,
											Kotlin to build mobile applications.</p>
									</div>
								</li>
								<li class="process__item">
									<div class="process__number">
										<span>2</span>
									</div>
									<div class="process__body">
										<h4>Learn Advanced Programming</h4>
										<p>In this course will include in-depth learning of languages along with
											their frameworks for front-end and back-end construction as well as
											learning frameworks for building cross-platform mobile applications.</p>
									</div>
								</li>
								<li class="process__item">
									<div class="process__number">
										<span>3</span>
									</div>
									<div class="process__body">
										<h4>Practice</h4>
										<p>After each lesson, there will be exercises to reinforce the knowledge
											learned from that to help remember more deeply what you have learned.
										</p>
									</div>
								</li>
								<li class="process__item">
									<div class="process__number">
										<span>4</span>
									</div>
									<div class="process__body">
										<h4>Learn the skills you need to get to work</h4>
										<p>
											IFE not only provides you with knowledge related to programming, but
											also shares you with the necessary knowledge when working in real-world
											programming companies.
										</p>
									</div>
								</li>
							</ul>
						</div>
						<div class="col col-md-6 d-sm-none d-md-none d-lg-block">
							<img class='img-home' src="/images/code-editor.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%- include('./partials/footer')%>